<!-- <h1>Hi {{name}} <br>
    You are {{age}} years old<br>
    You are {{nationality}}
</h1> -->

{% if user.is_authenticated %}
<h1>Welcome {{user.username}}</h1>
{% else %}
<h1>Not logged in</h1>
{% endif %}


<h1>Input Your Text Below:</h1>
<form method="POST" action="counter">
    {% csrf_token %}    <!--  POST method will not run without csrf token which prevents from data being stolen -->
    <textarea name="text" rows="25", cols="50"></textarea><br>
    <input type="submit"/>
</form>

<!-- {%load static%}
<link rel="stylesheet" href="{%static 'style.css'%}">
<h1>Styling</h1> -->

{% for feature in features %}

<h1>Feature id: {{feature.id}}</h1>
<h1>Feature name: {{feature.name}}</h1>
<h1>Feature details: {{feature.details}}</h1>
{% if feature.name == 'Quick' %}
<p>It says our site is quick</p>
{%endif%}

{%endfor%}